
.table-checkout {
    padding-top: 15%;
}

.cart-checkout {
    width: 100%;
    min-height: calc(100vh - 90px);
    text-align: center;
    color: white;
}

.cart-checkout .table{
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

.cart-checkout .table td{
    vertical-align: middle;
}

.cart-checkout .table .movie-name {
    text-align: left;
}

.empty-cart {
    margin-top: 20%;
}

.empty-cart img{
    max-width: 100%;
}

.empty-cart-warning {
    margin: auto;
    float: left;
}

.total-row {
    font-size: 20px;
    font-weight: bolder;
}

.checkout-button, .clear-button {
    margin-top: 5%;
}

.clear-button {
    float: right;
}

rect.btn {
    stroke:#fff;
    fill:#fff;
    fill-opacity:0;
    stroke-opacity:0;
  }

.back-button {
    float: left;
    padding-right: 5%;
    margin-bottom: 10px;
}