* {
    color:white;
    height: 100%;
}

.container {
  min-height: calc(90vh - 40px);
}

.movie-poster img {
  max-width: 100%;
}

.back-button {
  margin: auto;
}

.movie-description {
    margin: auto;
}

.movie-genres {
  padding-right: 5px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #d3d3d3;
  }

.full {
    color: gold;
  }

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: gold;
  }