<div *ngIf="movie">
  <div class="container">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="back-button">
        <a (click)="onBack()"><svg  class="bi bi-arrow-left-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
          <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
        </svg>
      </a>
      </div>
      <div class="col-lg-6 col-md-11 col-sm-11 col-11 movie-poster">
        <img [src]="imgURL + movie.poster" width="500px" />
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 col-12 movie-description">
        <h1>{{ movie.name }}</h1>
        <h5>Length: {{movie.runtime}} minutes</h5>
        <p>{{ movie.overview }}</p>
        <div *ngFor="let g of movie.genres" class="d-inline movie-genres">
          <span class="badge badge-secondary">{{ g.name }}</span>
        </div>
        <br>
        <h5 class="d-inline">Rate: {{ movie.rate }} / 10 - </h5>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </ng-template>
        <ngb-rating
          [rate]="getStarRating(movie.rate)"
          [starTemplate]="t"
          [readonly]="true"
          [max]="5"
        ></ngb-rating>
        <h5>Release Date: {{ movie.date }}</h5>
        <br>
        <button class="add-movie btn btn-danger btn-lg" (click)="addItemCart(movie, 1)">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>
