.container-fluid {
    min-height: calc(90vh - 90px);
}


h1 {
    text-align: center;
}

.poster {
    width: 300px;
}

.row {
    margin: auto;
    margin-top: 1%;
    margin-left: 3%
}

.figure {
    padding: 40px;
}

.figure:hover {
    border: 1px solid;
    border-color: white;
}

.figure-caption {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.search-form {
    border-radius: 30px 30px 30px 30px;
    background: rgba(0,0,0,0.3);
    color: white;
}

::placeholder { 
    color: white;
  }