
  <section class="mw-100 slideshow my-5">
    <div id="myCarousel" class="carousel slide mt-5" data-ride="carousel">
      <h1>Top Movies 2019</h1>
      <br />
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="col col-8">
            <img
              src="https://wallpaperstock.net/batman%2C-dark-knight%2C-movie%2C-movies_wallpapers_55934_1280x720.jpg"
              alt="First Slide"
            />
          </div>
          <div class="col col-4">
            <h3 class="movie-description">Batman (2019)</h3>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col col-8">
            <img
              src="https://wallpaperstock.net/transformers%2C-movies_wallpapers_54743_1280x720.jpg"
              alt="Second Slide"
            />
          </div>
          <div class="col col-4">
            <h3 class="movie-description">Transformer (2019)</h3>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col col-8">
            <img
              src="https://images.wallpapersden.com/image/download/avengers-endgame-2019-movie_64330_1280x720.jpg"
              alt="Third Slide"
            />
          </div>
          <div class="col col-4">
            <h3 class="movie-description">Avengers (2019)</h3>
          </div>
        </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  <section class="mw-100 new-movies pt-5">
    <h3><a routerLink="#">NEW ARRIVALS >></a></h3>
    <div class="row">
      <div
        class="col-lg-2 col-md-4 col-sm-4 col-4"
        *ngFor="let movie of newArrivals"
      >
        <a routerLink="/movies/movie/{{ movie.id }}">
          <figure class="figure text-center">
            <img [src]="imgURL + movie.poster" class="poster" />
            <figcaption class="figure-caption">{{ movie.name }}</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </section>
  <section class="mw-100 new-movies pt-5">
    <h3><a routerLink="/movies/1">MOST POPULAR >></a></h3>
    <div class="row ">
      <div
        class="col-lg-2 col-md-4 col-sm-4 col-4"
        *ngFor="let movie of mostPopular"
      >
        <a routerLink="/movies/movie/{{ movie.id }}">
          <figure class="figure text-center">
            <img [src]="imgURL + movie.poster" class="poster" />
            <figcaption class="figure-caption">{{ movie.name }}</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </section>
